.wrap {
}

.title {
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.item {
  background-color: #969bc6;
  border-radius: 4px;
  padding: 10px 20px;
}

.name {
  color: #fff;
  margin-bottom: 8px;
}

.text {
  color: #fff;
  max-height: 200px;
  overflow: hidden;
  overflow-y: scroll;
}

.text::-webkit-scrollbar {
  display: none;
}
