.wrap {
  padding: 20px;
  display: flex;
  gap: 40px;
  align-items: center;
}

.backLink {
  background-color: #969bc6;
  border-radius: 4px;
  color: #fff;
  padding: 10px 20px;
  transition: background-color 250ms ease-in-out;
}

.backLink:hover {
  background-color: #727596;
}
